<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Список записавшихся</h2>
    <% @clients.each do |client| %>
        <p>
            <a href="/client/<%= client.id %>"><%= client.name %></a>
        </p>
    <% end %>
</body>
</html>
