<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Client page</h2>
    <p>Имя: <%= @client.name %></p>
    <p>Телефон: <%= @client.phone %></p>
    <p>Дата записи: <%= @client.datestamp %></p>
</body>
</html>
